web:
    port: 8888
    host: 'http://localhost:8888'
    cookie_secret: 'dis is super sekrit'
    github_client_id: 'a1' # https://github.com/settings/applications
    github_client_secret: 'abc123'
    mailgun_api_key: null
    debug: true

db:
    user: 'lpmc'
    database: 'lpmc'

# vim: set et ft=yaml:
