{% extends "base.html" %}
{% block js %}
	<script src="/static/js/account.js"></script>
{% end %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/account.css"/>
{% end %}
{% block main %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<section>
			<h1>Account Settings</h1>
			<h2>Email</h2>
			<div class="dropdown">
				<div id="email">
					{{ contact_info[ContactInfoType.EMAIL] }}
				</div>
				<button id="update-emails">
					<i class="fa fa-chevron-down"></i>
				</button>
				<div id="emails" class="menu"></div>
			</div>
			<form class="form-inline" id="irc-form" action="">
				<h2>IRC Nickname</h2>
				<div class="form-group">
					<input type="text" class="form-control" id="irc-nickname" value="{{ contact_info.get(ContactInfoType.IRC, '') }}">
					<button class="btn btn-primary save" id="irc-btn">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
				</div>
			</form>
		</section>
	</div>
	<div class="col-md-4">
		<section>
			<h1>Mentee Questionnaire</h1>
			<p>
				(If you are looking to become a mentor, you don't need to fill this out. Find us in <code>#lpmc</code> on Freenode instead.)
			</p>
			<br>
			<form action="/account/questionnaire" method="post">
				{% for i, (q, a) in enumerate(zip(questions, answers)) %}
					<div class="form-group">
						<p>
							{{ q }}
							<textarea class="form-control" rows="5" name="q{{ i + 1 }}">{{ a }}</textarea>
						</p>
					</div>
				{% end %}
				<input class="btn btn-primary save" type="submit" value="Save">
				<a class="btn btn-danger" href="/account/delete">Delete my account</a>
			</form>
		</section>
	</div>
	<div class="col-md-2"></div>
</div>
{% end %}
