<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
	{% block js %}{% end %}
	{% block css %}{% end %}
</head>
<body>
	<div id="wrapper">
		<div id="topbar">
			<div id="title"></div>
			<div id="nav">
				<a href="/users">users</a>
				{% if current_user %}
					<a href="/account">account settings</a>
					<a href="/users/{{ current_user['username'] }}">profile</a>
					<a href="/logout">logout</a>
				{% else %}
					<a href="/github_oauth">login</a>
				{% end %}
			</div>
		</div>

		{% block main %}{% end %}
	</div>
</body>
</html>
