<!DOCTYPE html>
<html>
<head>
	<title>LPMC</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="/static/img/favicon.png" />
	<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools.js"></script>
	{% block js %}{% end %}
	{% block css %}{% end %}
</head>
<body>
    <div id="topbar">
        <div class="wrapper">
            <div id="title"><a href="/">lpmc</a></div>
            <div id="nav">
                {% if current_user %}
                    <div id="user-nav">
                        <img src="{{current_user['avatar_url']}}">
                        <a href="/users/{{ current_user['username'] }}">{{current_user['username']}}</a>
                        <a href="/users">users</a>
                        <a href="/account">account settings</a>
                        <a href="/logout">logout</a>
                    </div>
                {% else %}
                    <a href="/users">users</a>
                    <a href="/github_oauth">login</a>
                {% end %}
            </div>
        </div>
    </div>
	<div class="wrapper">
		<div id="content">
			{% block main %}{% end %}
		</div>
	</div>
</body>
</html>
