{% extends "base.html" %}
{% block main %}
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>Welcome to the <a href="http://www.reddit.com/r/learnprogramming/">LearnProgramming</a> Mentoring Community</h1>
			<p>
				You can find a coding mentor (or mentee) here. Just login with your GitHub account to get started. With an account, you can contact other <a href="/users">users</a> and ask them to mentor (or be mentored by) you.
			</p>
			<p>
				You can also find us at <code>#learnprogramming</code> on <a href="http://webchat.freenode.net/?channels=learnprogramming">Freenode</a>.
			</p>
			<p>
				See something wrong with the site? <a href="https://github.com/LearnProgramming/lpmc-site">Patches welcome!</a> (You can even get a mentor to help you work on the site, helping others help mentees. Meta-help is the best help.)
			</p>
		</div>
	</div>
</div>
{% end %}
