{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/profile.css"/>
{% end %}

{% block main %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<img id="profile-avatar" src="{{ avatar_url }}"/>
		</div>
		<div class="col-md-5">
			<h1>{{ user['username'] }}</h1>
			<p id="profile-link"><a href="https://github.com/{{ user['username'] }}?tab=repositories">GitHub profile</a></p>
			{% if irc_nick %}
				<p id="irc-nickname"><b>IRC:</b> <code>{{ irc_nick }}</code></p>
			{% end %}
			{% if user['is_mentor'] %}
				<h2>Mentees</h2>
				{% for mentee in mentees %}
					<a href="/users/{{ mentee['username'] }}">{{ mentee['username'] }}</a>
				{% end %}
			{% else %}
				{% if mentor %}
					<h2>Mentor: <a href="{{ mentor['username'] }}">{{ mentor['username'] }}</a></h2>
					{% if current_user and current_user['github_id'] == mentor['github_id'] %}
						<form action="/users/{{ user['username'] }}/unclaim" method="post">
							<div class="form-group">
								<input type="hidden" name="github_id" value="{{ user['github_id'] }}">
								<input type="submit" class="btn btn-warning" value="Unclaim {{ user['username'] }}">
							</div>
						</form>
					{% end %}
				{% elif current_user and current_user['is_mentor'] %}
					<form action="/users/{{ user['username'] }}/claim" method="post">
						<div class="form-group">
							<input type="hidden" name="github_id" value="{{ user['github_id'] }}">
							<input type="submit" class="btn btn-success" value="Claim {{ user['username'] }}">
						</div>
					</form>
				{% end %}
				{% if answers %}
					{% for q, a in zip(questions, answers) %}
						{% if a %}
							<div class="question">{{ q }}</div>
							<div class="answer">{{ a }}</div>
						{% end %}
					{% end %}
				{% end %}
			{% end %}
			{% if current_user %}
				<p>
					{% if current_user['is_mentor'] %}
						<form action="/users/{{ user['username'] }}/note" method="post" class="form-inline">
							<div class="form-group">
								<label for="note">Note:</label>&nbsp;
								<input type="text" name="note" value="{{ note or ''}}" class="form-control" id="note">
							</div>
							<input type="submit" class="btn btn-primary" value="save">
						</form>
					{% end %}
				</p>
				<p>
					Send mail to {{ user['username'] }}<br>
					(note that doing so will reveal your email address to {{ user['username'] }})
				</p>
				<form action="/users/{{ user['username'] }}/mail" method="post">
					<div class="form-group">
						<textarea class="form-control" name="body" rows="4"></textarea>
					</div>
					<input type="submit" class="btn btn-primary" value="Send Message">
				</form>
			{% end %}
		</div>
		<div class="col-md-2"></div>
	</div>
{% end %}
