{% extends "base.html" %}

{% block main %}

	<h2>{{ user['username'] }}</h2>

	{% if not user['is_mentor'] %}
		{% if mentor %}
			<h3>Mentor: <a href="{{ mentor['username'] }}">{{ mentor['username'] }}</a></h3>
		{% elif current_user['is_mentor'] %}
			<form method="POST">
				<input type="hidden" name="github_id" value="{{ user['github_id'] }}">
				<input type="submit" value="Claim {{ user['username'] }}">
			</form>
		{% end %}
	{% else %}
		<h3>Mentees</h3>
		{% for mentee in mentees %}
			<a href="/users/{{ mentee['username'] }}">{{ mentee['username'] }}</a>
		{% end %}
	{% end %}

{% end %}
