{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/users.css"/>
{% end %}
{% block main %}
	<div class="row">
		<div class="col-md-12">
			<h2>Users</h2>
			{% for user in users %}
				<div class="well user-list">
					<img src="{{ user['avatar_url'] }}"/>
					<a href="/users/{{ user['username'] }}">{{ user['username'] }}</a>
					{% if user['mentor'] is not None %}
						&nbsp;(mentor: <a href="/users/{{ user['mentor'] }}">{{ user['mentor'] }}</a>)
					{% end %}
				</div>
			{% end %}
		</div>
	</div>
{% end %}
