{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/users.css" />
{% end %}

{% block main %}
	<h2>Users</h2>
    {% for user in users %}
            <div class="user_info">
				<img src="{{ user['avatar_url'] }}"/>
				<a href="/users/{{ user['username'] }}">{{ user['username'] }}</a>
				{% if user['mentor'] is not None %}
					&nbsp;(mentor: <a href="/users/{{ user['mentor'] }}">{{ user['mentor'] }}</a>)
				{% end %}
            </div>
    {% end %}
{% end %}
